.mainbox {
  width: 750px;
  height: 350px;
  background-color: #3366ff;
  margin: 0 auto;
  border: 1px solid lightgrey;
}

.shirtboxblue {
  width: 220px;
  height: 250px;
  background-color: white;
  border: 1px solid #3366ff;
  margin: 20px 0 0 15px;
  background-image: url('../images/shirts/1_front.png');
  background-size: contain;
}

.shirtboxpink {
  width: 220px;
  height: 250px;
  background-color: white;
  border: 1px solid #3366ff;
  margin: 20px 0 0 15px;
  background-image: url('../images/shirts/2_front.png');
  background-size: contain;
}

.shirtboxorange {
  width: 220px;
  height: 250px;
  background-color: white;
  border: 1px solid #3366ff;
  margin: 20px 0 0 15px;
  background-image: url('../images/shirts/3_front.png');
  background-size: contain;
}

.topright {
  width: 25px;
  height: 25px;
  background-color: white;
  float: right;
  border: 1px solid #3366ff;
  border-top: none;
  border-right: none;
  background-image: url('../images/icons/rotate.png');
  background-size: cover;
}


.topright:hover {
  background-image: url('../images/icons/rotate_hover.png');
  background-size: cover;
}


.bottomiconholder {
  width: 220px;
  height: 40px;
  background-color: grey;
  margin: 210px 0 0 0;
  padding: 0;

}



.farleft {
  width: 44px;
  height: 39px;
  background-color: white;
  border: 1px solid #3366ff;
  float: left;
  margin: 0px 0 2px -1px;
  border-right: none;
  padding: 0;
  background-image: url('../images/icons/button_1.png');
  background-size: contain;

}

.shirtboxblue .farleft:hover  {
  background-image: url('../images/icons/button_1_hover.png');
  background-size: contain;
}

.shirtboxpink .farleft:hover  {
  background-image: url('../images/icons/button_1_hover.png');
  background-size: contain;
}

.shirtboxorange .farleft:hover  {
  background-image: url('../images/icons/button_1_hover.png');
  background-size: contain;
}






.shirtboxblue .lefttwo:hover  {
  background-image: url('../images/icons/button_2_hover.png');
  background-size: contain;
}

.shirtboxpink .lefttwo:hover  {
  background-image: url('../images/icons/button_2_hover.png');
  background-size: contain;
}

.shirtboxorange .lefttwo:hover  {
  background-image: url('../images/icons/button_2_hover.png');
  background-size: contain;
}






.shirtboxblue .farright:hover  {
  background-image: url('../images/icons/button_3_hover.png');
  background-size: contain;
}

.shirtboxpink .farright:hover  {
  background-image: url('../images/icons/button_3_hover.png');
  background-size: contain;
}

.shirtboxorange .farright:hover  {
  background-image: url('../images/icons/button_3_hover.png');
  background-size: contain;
}






.lefttwo {
  width: 44px;
  height: 39px;
  background-color: white;
  border: 1px solid #3366ff;
  float: left;
  margin: 0px 0 2px -1px;
  border-right: none;
  padding: 0;
  background-image: url('../images/icons/button_2.png');
  background-size: contain;

}

.middle {
  width: 44px;
  height: 39px;
  background-color: white;
  border: 1px solid #3366ff;
  float: left;
  margin: 0px 0 2px -1px;
  border-right: none;
  padding: 0;

}

.middle:hover {
  background-color: blue;
}

.middle p:hover {
  color: white;
}

.middle p {
  margin: 7px 0 0 7px;
}

.righttwoblue {
  width: 44px;
  height: 39px;
  background-color: white;
  border: 1px solid #3366ff;
  float: left;
  margin: 0px 0 2px -1px;
  border-right: none;
  padding: 0;
  position: relative;

}

.righttwoblue:hover {
  background-color: #3366ff;
}


.righttwopink {
  width: 44px;
  height: 39px;
  background-color: white;
  border: 1px solid #3366ff;
  float: left;
  margin: 0px 0 2px -1px;
  border-right: none;
  padding: 0;
  position: relative;
}

.righttwopink:hover {
  background-color: deeppink;
}

.righttwoorange {
  width: 44px;
  height: 39px;
  background-color: white;
  border: 1px solid #3366ff;
  float: left;
  margin: 0px 0 2px -1px;
  border-right: none;
  padding: 0;
  position: relative;

}

.righttwoorange:hover {
  background-color: orange;
}

.farright {
  width: 43px;
  height: 39px;
  background-color: white;
  border: 1px solid #3366ff;
  float: left;
  margin: 0px 0 2px -1px;
  border-right: none;
  border-left: 2px solid #3366ff;
  padding: 0;
  background-image: url('../images/icons/button_3.png');
  background-size: contain;


}

.mainbox2 {
  margin: 0 auto;
  width: 248px;
  height: 348px;
  background-color: white;
  float: left;
  margin: 0 0 0 0px;
  border: 1px solid white;

}

.footer {
  width: 246px;
  height: 70px;
  background-color: white;
  margin: 0 0 -10px 0;
  border: 1px solid white;
  border-top: none;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.footermoneyleft {
  width: 40px;
  height: 40px;
  background-color: white;
  float: right;
  margin: 0   0 0 0;
  padding: 0 0 0 0;
}

h4 {
  margin: 0 0 0 0;
  color: #3366ff;
}

p {
  width: 100px;
  height: 0px;
  margin: 5px 0 0 0;
  padding: 5px;
  color: #1E90FF;
}

.righttwoblue:hover .icon-box--hidden-box {
  visibility: visible;
  opacity: 1;
  transition: visibility 3s, opacity 3s;
}


.icon-box--colored-box {
  height: 20px;
  width: 20px;
  background-color: #81BCE6;
  margin: 10px;
  border: 1px solid white;
}


.icon-box--hidden-box {
  width: 18px;
  height: 100px;
  border: 1px solid deeppink;
  background-color: white;
  position: absolute;
  left: 11px;
  bottom: 100%;
  visibility: hidden;
  opacity: 0;
  background-image: url('../images/icons/shirt.png');
  background-size: contain;
}

.righttwopink:hover .icons-box--hiddeen-box {
  visibility: visible;
  opacity: 1;
  transition: visibility 3s, opacity 3s;
}


.icons-box--coloreed-box {
  height: 20px;
  width: 20px;
  background-color: #D482AA;
  margin: 10px;
  border: 1px solid white;

}

.icons-box--hiddeen-box {
  width: 18px;
  height: 100px;
  border: 1px solid deeppink;
  background-color: white;
  position: absolute;
  left: 11px;
  bottom: 100%;
  visibility: hidden;
  opacity: 0;
  background-image: url('../images/icons/shirt.png');
  background-size: contain;
}

.righttwoorange:hover .icone-box--hiddin-box {
  visibility: visible;
  opacity: 1;
  transition: visibility 3s, opacity 3s;
}


.icone-box--colorid-box {
  height: 20px;
  width: 20px;
  background-color: #D8AD7A;
  margin: 10px;
  border: 1px solid white;
}



.icone-box--hiddin-box {
  width: 18px;
  height: 100px;
  border: 1px solid deeppink;
  background-color: white;
  position: absolute;
  left: 11px;
  bottom: 100%;
  visibility: hidden;
  opacity: 0;
  background-image: url('../images/icons/shirt.png');
  background-size: contain;
}




















/*../images/shirts/1_front.png*/
